@tailwind base;
@tailwind components;
@tailwind utilities;


.rotate-animation {
    animation: rotate 6s infinite linear; /* You can adjust the duration as needed */
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}